

.test {

    color: #f5bc4c; /*Person */
    color: #ff0066; /*VerfasserIN */
    color: #32a852; /* Werk */
    color: #009999; /*Ort */
    color: #d7ff7b; /* Quelle */


    color: #22306a; /* Fluss */
    color: #266806; /* Kloster */
    color: #ff8a76; /* Abfassungsort */
    color: #ff0f2e; /* Berg */
    color: #ff4a00; /* Region */

}
